h1 {
    font-size: 40px;
    color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    
}

#user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#name{ 
    font-size: 25px;
    color: blue;
}

#fetchUser {
    font-size: 20px; 
    background-color: rgb(74, 74, 177);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:25px; 
}